<% if logged_in? %>
    <%= link_to "Chatroom", root_path, class: "item" %>
    <%= link_to "Own Messages", user_path(current_user), class: "item" %>
<% end %>

<div class="right menu">
    <% if logged_in? %>
        <div class="ui dropdown item">
            Account <i class="dropdown icon"></i>
            <div class="menu">
                <%= link_to "Logout", logout_path, method: :delete, class: "item" %>
            </div>
        </div>
    <% else %>
        <div class="item">
            <div class="ui small buttons">
                <%= link_to "Log in", login_path, class: "ui button" %>
                <div class="or"></div>
                <%= link_to "Sign Up", signup_path, class: "ui orange button" %>
            </div>
        </div>
    <% end %>
</div>
